.section__form {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    /* transition: all .5s ease; */
    /* background-color: blueviolet; */
}

.section__form form {
    padding: 20px 30px;
    width: 50%;
    background: #F7F7F7;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, .08);
    border-radius: 20px;
}

.section__title {
    text-align: center;
    font-size: 1.7em;
    font-weight: 400;
} 