.section__form {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    /* transition: all .5s ease; */
    /* background-color: blueviolet; */
}

.section__form form {
    padding: 20px 30px;
    width: 40%;
    background: #F7F7F7;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, .08);
    border-radius: 20px;
}

.section__title {
    text-align: center;
    font-size: 1.7em;
    font-weight: 400;
}

@media screen and (max-width:768px) {
    .section__form {
        /* flex-direction: column; */
        flex-wrap: wrap;
        padding: 10px;
        box-sizing: border-box;
        gap: 20px;
    }

    .section__form form {
        width: 100%;
    }
}

@media screen and (max-width:375px) {
    .section__form {
        gap: 20px;
    }

    .section__form form {
        gap: 10px;
    }
}