.section__team {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: #D9F7E9; */
    padding: 10px 0;
    position: relative;
    /* display: block; */
}

.section__team-color{
    position: absolute;
    top: 20px;
    right: 20px;
}

.section__nameTeam {
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    padding-bottom: 10px;
    border-bottom: 4px solid;
    color: #212121;
    transition: all .5s ease;
}

.section__colaborators {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}